.indexerContainer {
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.indexerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid #e8f1f2;
  margin-bottom: 10px;
}

.indexerHeader .siteUrl {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-color1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.domainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexerHeader .pageToggler {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid gray;
}

.pageToggler .opt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  height: 20px;
  cursor: pointer;
  color: #6b6b6b;
}

.pageToggler .opt.active {
  color: var(--primary-color1);
  font-weight: 500;
  overflow: hidden;
}

.pageToggler .opt.active:first-child {
  box-shadow: inset 2px 1px 5px var(--primary-color1);

  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pageToggler .opt.active:last-child {
  box-shadow: inset -2px 1px 5px var(--primary-color1);

  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pageToggler .opt.disable {
  color: #ababab;
  cursor: not-allowed;
}

.noPagesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 400;
  padding-top: 40px;
  color: var(--tertiary-color1);
}

.emptyIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pagesWrapper {
  width: 80%;
  margin: auto;
  border: 1px solid var(--secondary-color4-op05);
  border-radius: 9px;
}

.rowWrapper {
  overflow: auto;
  max-height: calc(100vh - 240px);
}

.pageHeadRow,
.pageRowWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.pageHeadRow {
  background-color: var(--secondary-color4-op05);
  padding: 1px 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: var(--primary-color1);
  font-size: 14px;
  font-weight: 600;
}

.pageRowWrapper {
  padding: 6px 0px;
  border-bottom: 1px solid var(--secondary-color4-op05);
}

.pageRowWrapper:last-child {
  border: none;
}

.headCheckbox,
.itemCheckbox {
  width: 40px;
}

.headPage,
.itemPage {
  min-width: 50%;
  flex-grow: 1;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.pageUrl {
  max-width: 100%;
  background-color: var(--link-color1-op01);
  border-radius: 3px;
  padding: 4px 8px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  cursor: pointer;
  color: var(--link-color1);
}

.pageUrl:hover {
  color: var(--primary-color1);
}

.headIndexDoc,
.itemIndexDoc {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemIndexDoc {
  color: var(--tertiary-color1);
}

.headStatus,
.itemStatus {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemStatus {
  color: var(--primary-color1-op05);
}

.itemStatus.indexed {
  color: var(--primary-color1);
}

.headCta,
.itemCta {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottomCtas {
  position: absolute;
  bottom: 0px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
  left: 0px;
  right: 0px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Setting Wrapper Starts */
.settingWrapper {
  width: 80%;
  margin: auto;
  border-radius: 9px;
}

.settingHeader,
.pagesHeader {
  font-size: 24px;
  color: var(--tertiary-color1);
}

.pagesHeader {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.pagesTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterWrapper {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.filterWrapper > div > div {
  display: flex;
  align-items: flex-start;
  height: max-content !important;
}
.filterWrapper input {
  border: 1px solid var(--tertiary-color3);
  padding: 4px 8px;
  border-radius: 4px;
  width: 300px;
}

.filterWrapper input:active,
.filterWrapper input:focus {
  border: 1px solid var(--tertiary-color1);
}

.settingSection {
  border-radius: 9px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.settingSection .sectionHeader {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: var(--primary-color1);
  background-color: var(--secondary-color4-op05);
  width: max-content;
  min-width: 100px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: none;
}

.sTableWrapper {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--secondary-color4-op05);
}

.sHeadWrapper {
  background: var(--secondary-color4-op05);
  border-bottom: 1px solid var(--secondary-color4);
  color: var(--primary-color1);
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
}

.sRowsContainer {
  max-height: calc(100vh - 650px);
  overflow: auto;
}

.sRowWrapper {
  display: flex;
  min-height: 42px;
}

.sHeadName,
.sItemName {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 50%;
  flex-grow: 1;
  color: var(--primary-color1);
}

.sHeadName {
  font-weight: 600;
  color: var(--primary-color1);
}

.headCtas {
  width: 100px;
}

.ctaWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
}

.siteMapsEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--tertiary-color5);
  border-bottom: 1px solid var(--tertiary-color5);
  padding: 20px;
  width: 200px;
  margin: auto;
}

.inputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 5px;
  margin-top: 20px;
  padding-left: 20px;
}

.siteMapInputWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  position: relative;
}

.syncStatusText {
  font-size: 13px;
  color: var(--tertiary-color2);
  padding-left: 1px;
}

.inputWrapper {
  border: 1px solid var(--tertiary-color4);
  border-radius: 4px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.inputWrapper.hasData {
  border: 1px solid var(--tertiary-color1);
}

.jsonInputWrapper {
  border: 1px solid var(--tertiary-color4);
  border-radius: 4px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  position: relative;
}

/* Setting Wrapper Ends */
