.authWrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

._left {
  min-width: 470px;
  background-color: white;
  padding: 15px;
  max-width: 470px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-top: 70px;
}

.metaLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.tagline {
  font-weight: 700;
  color: #2d385e;
  font-size: 24px;
}

.subtext {
  font-size: 16px;
  font-weight: 400;
  color: #44525f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px 40px;
  margin-top: 20px;
}

.bottomWrapper {
  width: 100%;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 10px;
}

.policy_terms {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.rememberMeCta {
  cursor: pointer;
  color: #666;
}

.forgotPwdCta {
  color: #4f77ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.forgotPwdCta:hover {
  text-decoration: underline;
}

.authWrapper ._right {
  background-color: #2e385d;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

/* Verification Banner Starts */

.formHeading {
  font-size: 24px;
  font-weight: var(--font-weight6);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--secondary-color2);
  margin-bottom: 15px;
  text-align: center;
}

.link1 {
  font-size: 14px;
  font-weight: var(--font-weight5);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--secondary-color2);
  display: block;
  text-align: center;
  padding: 5px 0;
  line-height: 20px;
}
.link1 a {
  text-decoration: none;
  color: var(--primary-color1);
  font-size: 14px;
  font-weight: var(--font-weight5);
}

.link2 {
  font-size: 12px;
  font-weight: var(--font-weight6);
  color: var(--primary-color1);
  cursor: pointer;
}
.forgotPassLink {
  text-align: right;
}

.error {
  color: red;
  font-size: 11px;
  margin-top: 0px;
}
.noError {
  display: none;
}

.flex {
  display: flex;
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: var(--font-weight6);
}
.flex a {
  color: var(--primary-color1);

  text-decoration: unset;
}

.link2:hover {
  text-decoration: underline;
}

.vbContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  align-items: center;
}

.vcBrandIcon img {
  height: 200px;
  width: 40px;
}

.vbTextContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--primary-color88);
  border-radius: 20px;
  padding: 20px;
  color: #4b4b55;
  align-items: center;
  max-width: 600px;
}

.vbTCTitle {
  font-size: 20px;
  font-weight: var(--font-weight6);
  text-align: center;
  color: #4b4b55;
  display: flex;
  align-items: center;
}

.vbTCSubtitle {
  font-size: 16px;
  color: #828b95;
  text-align: center;
  text-align: center;
}

.vbTCFooter {
  font-size: 12px;
  color: var(--secondary-color3);
  margin-top: 40px;
  text-align: center;
}

.vbParentClass {
  width: 600px !important;
  padding: 0px !important;
  padding-top: 20px !important;
}

.link {
  font-size: 16px;
  font-weight: var(--font-weight4);
  margin-bottom: 15px;

  color: var(--secondary-color2);
}

.link span {
  color: var(--primary-color1);
  font-weight: var(--font-weight5);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .vbParentClass {
    width: unset !important;
    padding: 20px !important;
    /* padding-top: 20px !important; */
  }
}
/* Verification Banner Ends */
