.authWrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

._left {
  min-width: 470px;
  background-color: white;
  padding: 15px;
  max-width: 470px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-top: 70px;
}

.metaLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.tagline {
  font-weight: 700;
  color: #2d385e;
  font-size: 24px;
}

.subtext {
  font-size: 16px;
  font-weight: 400;
  color: #44525f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px 40px;
  margin-top: 20px;
}

.bottomWrapper {
  width: 100%;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 10px;
}

.policy_terms {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.rememberMeCta {
  cursor: pointer;
  color: #666;
}

.forgotPwdCta {
  color: #4f77ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.forgotPwdCta:hover {
  text-decoration: underline;
}

.authWrapper ._right {
  background-color: #2e385d;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

/* Verification Banner Starts */

.vbWrapper {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color1-op01);
  height: 100vh;
}

.vbTextContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  padding: 20px;
  color: #4b4b55;
  align-items: center;
  max-width: 600px;
  background-color: white;
  height: max-content;
  margin-top: 100px;
}

.titleHead {
  font-size: 20px;
  font-weight: var(--font-weight6);
  text-align: center;
  color: #c84c84;
  display: flex;
  align-items: center;
}

.subText {
  font-size: 16px;
  color: #828b95;
  text-align: center;
  text-align: center;
}

.footerNote {
  font-size: 14px;
  color: var(--secondary-color1);
  margin-top: 30px;
  text-align: center;
  font-weight: var(--fw-thin);
  width: 70%;
}

/* Verification Banner Ends */
