.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  width: 80%;
  margin: auto;
}

.overviewWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.overviewWrapper .overviewCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--secondary-color1);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 1px 1px 10px 2px var(--secondary-color1-op01);
}

.overviewCard .cardTitle {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--secondary-color1);
}

.overviewCard .cardValue {
  font-size: 24px;
  font-weight: 400;
}

.dashboardMeta {
  color: var(--primary-color1);
  font-weight: var(--fw-med);
  font-size: 18px;
}

.dashboardTitle {
  margin-block: 0px;
  margin-inline: 0px;
  font-size: 40px;
}

.subtext {
  max-width: 470px;
  margin: auto;
  text-align: center;
  color: var(--tertiary-color1);
  font-size: 18px;
}

/* Add Website Modal Starts */
.addWSModalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 30px 30px;
  min-width: 400px;
  position: relative;
}

.closeCta {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.progressBars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  width: 100%;
  margin-top: 4px;
}

.progressBars > div {
  height: 4px;
  background-color: var(--tertiary-color4);
}

.progressBars > div.active {
  height: 4px;
  background-color: var(--tertiary-color1);
}

.progressBars > div.done {
  height: 4px;
  background-color: var(--secondary-color3);
}

.pBar1 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pBar3 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.wsModal_iconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wsModal_title {
  font-weight: var(--fw-sb);
}

.instruction_line1 {
  max-width: 400px;
  color: var(--tertiary-color2);
  font-weight: var(--fw-reg);
  font-size: 15px;
}

.inputs {
  width: 100%;
  position: relative;
}

.syncStatusText {
  position: absolute;
  font-size: 13px;
  color: var(--tertiary-color2);
  padding-left: 1px;
}

.websiteListingContainer {
  min-height: 150px;
  max-height: 150px;
  border: 1px solid rgba(128, 128, 128, 0.1);
  width: 100%;
  border-radius: 20px;
}

.addWSModalWrapper input {
  border: 1px solid var(--tertiary-color4);
  border-radius: 4px;
  padding: 9px 6px;
  width: 95%;
}

.addWSModalWrapper input:focus {
  border: 1px solid var(--tertiary-color1);
}
.jsonInputWrapper {
  width: 100%;
}

.syncStatusText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.bottomCta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
/* Add Website Modal Ends */

/* ConnectedSites Starts */
.dummyRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.noDomainsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 400;
  padding-top: 40px;
  color: var(--tertiary-color1);
  padding-bottom: 40px;
}

.emptyIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.connectedSitesTable {
  width: 80%;
  margin: auto;
  border: 1px solid var(--secondary-color4-op05);
  border-radius: 10px;
  overflow: hidden;
}

.headRowWrapper {
  display: flex;
  height: 30px;
  background-color: var(--secondary-color4-op05);
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
  color: var(--primary-color1);
}

.rowsContainer {
  max-height: calc(100vh - 250px);
  overflow: auto;
}

.rowWrapper {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid var(--tertiary-color3);
  min-height: 50px;
}
.rowWrapper:last-child {
  border: none;
}

.headName,
.rowName {
  width: 40%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 10px;
}

.domainName {
  min-height: 50px;
  display: flex;
  align-items: center;
  color: var(--primary-color1);
  font-size: 18px;
}

.domainName:hover {
  color: var(--secondary-color1);
}

.headAutoIdx,
.rowAutoIdx {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
}

.autoIndexToggler {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headCtas,
.rowCtas {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
}

.ctaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ConnectedSites Ends */

/* Delete Modal Starts */
.deleteModalWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 270px;
}

.deleteModalWrap .title {
  font-size: 22px;
  color: var(--tertiary-color1);
}

.deleteModalWrap .info {
  color: var(--tertiary-color2);
}

.deleteModalCtas {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
/* Delete Modal Ends */
