.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  border-bottom: 1px solid #f1f5f9;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.greetText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
}
