:root {
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color1-op02);
  border-radius: 10px; /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
